/Tools
/opencores
/xil_2019_1_ver
/xil_2019_1_vhd
/xil_ise14_7_ver
/xil_ise14_7_vhd
/**/*.swp
/**/vivado.log
/**/vivado.jou
/**/.Xil
/**/.directory
/**/nogit
/**/Session_hw.vim
/**/Session_sw.vim
/**/sim/transcript
/**/sim/vsim.wlf
/**/sim/work/*
/**/sim/modelsim.ini
/**/synth/build_out
/**/sw/build
/**/ip/ip_user_files/*
/**/ip/managed_ip_project/*
/BOARDS/**/000_template
/BOARDS/PlutoSDR/other
/header_ver.txt
/header_vhd.txt
/header_tcl.txt
